.jumbotron {
    padding-top: 6rem;
    background-color: #2e2edff;
    }

    #projects {
        background-color: #e2edff;
        }

        section {
            padding-top: 5rem;
            }